<div class="container">
  <div>
    <h1>{{ title }}</h1>
    <ul class="ui card">
      <li *ngFor="let member of members"> {{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input 
      #addMemberInput 
      type="text" 
      placeholder="Name" 
      (input)="onInput(addMemberInput.value)"
      [value]="newMemberName"
      [class]="newMemberName">
      <button (click)="addMember()">Add</button>
    </div>

    <div class="input-container">
      <input type="text" placeholder="=# of teams">
      <button>Generate</button>
    </div>
    <p class="error-msg">{{ errorMessage }}</p>
  </div>
</div>